<%if @object_type=='curriculum'%>
    <% if @curriculum_study_progress %>
        <div class="panel-group accordion accordion-2" id="accordion">

          <p class="aes-pull-right">

          </p>
          <div class="panel panel-default" id="panel1">
            <div class="panel-heading">
              <p id="pullrightstudent" class="pull-right visible-xs">
                <a href="javascript:;" data-toggle="offcanvas" class="no-ajaxify btn-outline"><i class="fa fa-arrow-left"></i></a>
              </p>

              <div class="nav" style="margin-right: 20px;">
                <% if @curriculum_study_progress.status == 0 %>
                    <a id="href_start_curriculum" href="#"  style="color: white" class="btn btn-primary  aes-border-white"><i class="fa fa-fw fa-play-circle-o"></i> <%= t('curriculum.btn_start')%></a>
                <%elsif @curriculum_study_progress.status == 1%>
                    <a id="href_done_curriculum" href="#"  style="color: white"  class="btn btn-primary  aes-border-white"><i class="fa fa-fw fa-check-square"></i> <%= t('curriculum.btn_done')%> </a>
                <%end%>
              </div>


              <h4 class="panel-title"><a class="accordion-toggle font" data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
                <i class="fa fa-ticket"></i>&nbsp;<%= t('curriculum.lb_curriculum_name')%></a></h4>
            </div>
            <div id="collapse-1" class="panel-collapse collapse in" style="height: auto;">
              <div class="panel-body">
                <h4 class="strong"><%= @curriculum_study_progress.curriculum.curriculum_name%></h4>
                <p><%= t('student_curriculum_detail.lb_with')%> <%= @curriculum_study_progress.curriculum.mentor.user_name%>
                  &nbsp;|&nbsp; <%= t('curriculum.lb_start_date')%>:  <%= !(@curriculum_study_progress.actual_start_date == nil)? @curriculum_study_progress.actual_start_date.strftime("%Y/%m/%d %H:%M:%S"): "NA"%>
                  &nbsp;|&nbsp; <%= t('curriculum.lb_end_date')%>:  <%= !(@curriculum_study_progress.actual_end_date == nil)? @curriculum_study_progress.actual_end_date.strftime("%Y/%m/%d %H:%M:%S"): "NA"%>
                </p>

              </div>
            </div>
          </div>
          <div class="panel panel-default " id="panel2">
            <div class="panel-heading">
              <h4 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-2"><i class="fa fa-tasks"></i>&nbsp;<%= t('curriculum.lb_summary')%></a></h4>
            </div>
            <div id="collapse-2" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body aes-content1" >
                <%= @curriculum_study_progress.curriculum.summary.html_safe %>
              </div>
            </div>
          </div>
          <div class="panel panel-default" id="panel3">
            <div class="panel-heading">
              <h4 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-3"><i class="fa  fa-file-text-o"></i>&nbsp;<%= t('curriculum.lb_description')%></a></h4>
            </div>
            <div id="collapse-3" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body aes-content1">
                <%= @curriculum_study_progress.curriculum.description.html_safe%>
              </div>
            </div>
          </div>
          <!--New comment form-->
          <div id="comment-new" class="innerAll" style="background-color: white" >
            <%= render partial: 'comments/comment_form', locals: {object: @object} %>
          </div>
          <!--End new comment form-->
        </div>

    <% end %>
<%elsif @object_type == 'material'%>
    <% if @material_study %>
        <div class="panel-group accordion accordion-2" id="accordion">
          <!--<p id="pullright" class="pull-right visible-xs">-->
            <!--<a href="javascript:;" data-toggle="offcanvas" class="no-ajaxify btn-outline"><i class="fa fa-arrow-left"></i></a>-->
          <!--</p>-->
          <!--<p class="aes-pull-right">-->
            <!--<% if @material_study.status == 0 %>-->
                  <!--<a id="href_start_material" href="#" class="btn btn-primary aes-border-white"><i class="fa fa-fw fa-play-circle-o"></i> <%= t('curriculum.btn_start')%></a>-->
            <!--<%elsif @material_study.status == 1%>-->
                  <!--<a id="href_done_material" href="#" class="btn btn-primary aes-border-white"><i class="fa fa-fw fa-check-square"></i> <%= t('curriculum.btn_done')%> </a>-->
            <!--<%end%>-->
          <!--</p>-->
          <div class="panel panel-default" id="panel1">
            <div class="panel-heading">

              <p id="pullrightstudent" class="pull-right visible-xs">
                <a href="javascript:;" data-toggle="offcanvas" class="no-ajaxify btn-outline"><i class="fa fa-arrow-left"></i></a>
              </p>

              <div class="nav" style="margin-right: 20px;">
                <% if @material_study.status == 0 %>
                    <a id="href_start_material" href="#" class="btn btn-primary aes-border-white"><i class="fa fa-fw fa-play-circle-o"></i> <%= t('curriculum.btn_start')%></a>
                <%elsif @material_study.status == 1%>
                    <a id="href_done_material" href="#" class="btn btn-primary aes-border-white"><i class="fa fa-fw fa-check-square"></i> <%= t('curriculum.btn_done')%> </a>
                <%end%>
              </div>

              <h4 class="panel-title"><a class="accordion-toggle font" data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
                <i class="fa fa-ticket"></i>&nbsp;<%= t('material.lb_material_name')%></a></h4>
            </div>
            <div id="collapse-1" class="panel-collapse collapse in" style="height: auto;">
              <div class="panel-body">
                <h4 class="strong"><%= @material_study.material.material_name %></h4>
                <p>
                  <%= t('curriculum.lb_start_date')%>: <%= !(@material_study.actual_start_date == nil)? @material_study.actual_start_date.strftime("%Y/%m/%d %H:%M:%S"): "NA"%>&nbsp;|&nbsp;
                  <%= t('curriculum.lb_end_date')%>: <%= !(@material_study.actual_end_date == nil)? @material_study.actual_end_date.strftime("%Y/%m/%d %H:%M:%S"): "NA"%>
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default " id="panel2">
            <div class="panel-heading">
              <h4 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-2"><i class="fa fa-file-text-o"></i>&nbsp;<%= t('material.lb_description')%></a></h4>
            </div>
            <div id="collapse-2" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                <p>
                  <b><%= t('material.lb_type')%>:</b> <%= !(@material_study.material.material_type == nil)? @material_study.material.material_type.material_type_name: nil%>
                </p>
                <%if !((@material_study.material.material_url == '')||(@material_study.material.material_url == nil))%>
                    <p>
                      <b>URL:</b> <a style="color:#913228" target="_blank" href="<%= !((@material_study.material.material_url == '')||(@material_study.material.material_url == nil))? @material_study.material.material_url: "#"%>"><%= !((@material_study.material.material_url == '')||(@material_study.material.material_url == nil))? @material_study.material.material_url: "NA"%></a>
                    </p>
                <%end%>
                <div id="divMaterial" class="innerT aes-content1" >
                  <%= @material_study.material.description.html_safe %>
                </div>
              </div>
            </div>
          </div>
          <!--New comment form-->
          <div id="comment-new" class="innerAll" style="background-color: white" >
            <%= render partial: 'comments/comment_form', locals: {object: @object} %>
          </div>
          <!--End new comment form-->
        </div>
    <% end %>
    <script>
        $(document).ready(function () {
            $("#href_start_material").click(function () {
                $.ajax({
                    type: "GET",
                    url: '/student/update_menu_right',
                    data: {
                        curriculum_id:"<%= @curriculum_study_progress.id %>",
                        object_type:"<%=  @object_type%>",
                        object_id:"<%= @material_study.id%>",
                        status: 1
                    },
                    dataType: "script",
                    beforeSend: function (xhr) {
                        $.loader.open({imgUrl: "<%= asset_path('assets/template/ajaxloader/images/loading32x32.gif') %>"});
                    },
                    success: function () {
                        $.loader.close();
                        $('[data-toggle="offcanvas"]').unbind( "click" );
                        $('[data-toggle="offcanvas"]').click(function () {
                            $('.row-offcanvas').toggleClass('active');
                            $(this).find("i").toggleClass('fa-arrow-left');
                            $(this).find("i").toggleClass('fa-arrow-right');
                        });
                        $('#divRight a').removeClass("strong");
                        $("#<%= @material_study.id %>").addClass("strong");
                    },
                    error: function (xhr, status, response) {
                        console.log("AJAX Error: " + status)
                    }
                });

            });
            $("#href_done_material").click(function () {
                $.ajax({
                    type: "GET",
                    url: '/student/update_menu_right',
                    data: {
                        curriculum_id:"<%= @curriculum_study_progress.id%>",
                        object_type:"<%=  @object_type%>",
                        object_id:"<%= @material_study.id%>",
                        status: 2
                    },

                    dataType: "script",
                    beforeSend: function (xhr) {
                        $.loader.open({imgUrl: "<%= asset_path('assets/template/ajaxloader/images/loading32x32.gif') %>"});
                    },
                    success: function () {
                        $.loader.close();
                        $('[data-toggle="offcanvas"]').unbind( "click" );
                        $('[data-toggle="offcanvas"]').click(function () {
                            $('.row-offcanvas').toggleClass('active');
                            $(this).find("i").toggleClass('fa-arrow-left');
                            $(this).find("i").toggleClass('fa-arrow-right');
                        });
                        $('#divRight a').removeClass("strong");
                        $("#<%= @material_study.id %>").addClass("strong");
                    },
                    error: function (xhr, status, response) {
                        console.log("AJAX Error: " + status)
                    }
                });

            });
        });
    </script>
<%elsif @object_type=='action'%>
    <% if @action_study %>
        <div class="panel-group accordion accordion-2" id="accordion">
          <!--<p id="pullright" class="pull-right visible-xs">-->
            <!--<a href="javascript:;" data-toggle="offcanvas" class="no-ajaxify btn-outline"><i class="fa fa-arrow-left"></i></a>-->
          <!--</p>-->
          <!--<p class="aes-pull-right">-->
            <!--<% if @action_study.status == 0 %>-->
                  <!--<a id="href_start_action" href="#" class="btn btn-primary aes-border-white"><i class="fa fa-fw fa-play-circle-o"></i>  <%= t('curriculum.btn_start')%></a>-->
            <!--<%elsif @action_study.status == 1%>-->
                  <!--<a id="href_done_action" href="#" class="btn btn-primary aes-border-white"><i class="fa fa-fw fa-check-square"></i>  <%= t('curriculum.btn_done')%> </a>-->
            <!--<%end%>-->
          <!--</p>-->
          <div class="panel panel-default" id="panel1">
            <div class="panel-heading">

              <p id="pullrightstudent" class="pull-right visible-xs">
                <a href="javascript:;" data-toggle="offcanvas" class="no-ajaxify btn-outline"><i class="fa fa-arrow-left"></i></a>
              </p>

              <div class="nav" style="margin-right: 20px;">
                <% if @action_study.status == 0 %>
                    <a id="href_start_action" href="#" class="btn btn-primary aes-border-white"><i class="fa fa-fw fa-play-circle-o"></i>  <%= t('curriculum.btn_start')%></a>
                <%elsif @action_study.status == 1%>
                    <a id="href_done_action" href="#" class="btn btn-primary aes-border-white"><i class="fa fa-fw fa-check-square"></i>  <%= t('curriculum.btn_done')%> </a>
                <%end%>
              </div>

              <h4 class="panel-title"><a class="accordion-toggle font" data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
                <i class="fa fa-ticket"></i>&nbsp;<%= t('action.lb_action_name')%></a></h4>
            </div>
            <div id="collapse-1" class="panel-collapse collapse in" style="height: auto;">
              <div class="panel-body">
                <h4 class="strong"><%= @action_study.action.action_name %></h4>
                <p>
                  <%= t('curriculum.lb_start_date')%>: <%= !(@action_study.actual_start_date==nil)? @action_study.actual_start_date.strftime("%Y/%m/%d %H:%M:%S"): "NA"%>&nbsp;|&nbsp;
                  <%= t('curriculum.lb_end_date')%>: <%= !(@action_study.actual_end_date==nil)? @action_study.actual_end_date.strftime("%Y/%m/%d %H:%M:%S"): "NA"%>
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default " id="panel2">
            <div class="panel-heading">
              <h4 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-2"><i class="fa fa-file-text-o"></i>&nbsp;<%= t('material.lb_description')%></a></h4>
            </div>
            <div id="collapse-2" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body aes-content1">
                <%= @action_study.action.description.html_safe %>
              </div>
            </div>
          </div>
          <!--New comment form-->
          <div id="comment-new" class="innerAll" style="background-color: white" >
            <%= render partial: 'comments/comment_form', locals: {object: @object} %>
          </div>
          <!--End new comment form-->
        </div>
    <% end %>
    <script>
        $(document).ready(function () {
            $("#href_start_action").click(function () {
                $.ajax({
                    type: "GET",
                    url: '/student/update_menu_right',
                    data: {
                        curriculum_id:"<%= @curriculum_study_progress.id%>",
                        object_type:"<%=  @object_type%>",
                        object_id:"<%= @action_study.id%>",
                        status: 1
                    },
                    dataType: "script",
                    beforeSend: function (xhr) {
                        $.loader.open({imgUrl: "<%= asset_path('assets/template/ajaxloader/images/loading32x32.gif') %>"});
                    },
                    success: function () {
                        $.loader.close();
                        $('[data-toggle="offcanvas"]').unbind( "click" );
                        $('[data-toggle="offcanvas"]').click(function () {
                            $('.row-offcanvas').toggleClass('active');
                            $(this).find("i").toggleClass('fa-arrow-left');
                            $(this).find("i").toggleClass('fa-arrow-right');
                        });
                        $('#divRight a').removeClass("strong");
                        $("#<%= @action_study.id %>").addClass("strong");
                    },
                    error: function (xhr, status, response) {
                        console.log("AJAX Error: " + status)
                    }
                });

            });
            $("#href_done_action").click(function () {
                $.ajax({
                    type: "GET",
                    url: '/student/update_menu_right',
                    data: {
                        curriculum_id:"<%= @curriculum_study_progress.id%>",
                        object_type:"<%=  @object_type%>",
                        object_id:"<%= @action_study.id%>",
                        status: 2
                    },

                    dataType: "script",
                    beforeSend: function (xhr) {
                        $.loader.open({imgUrl: "<%= asset_path('assets/template/ajaxloader/images/loading32x32.gif') %>"});
                    },
                    success: function () {
                        $.loader.close();
                        $('[data-toggle="offcanvas"]').unbind( "click" );
                        $('[data-toggle="offcanvas"]').click(function () {
                            $('.row-offcanvas').toggleClass('active');
                            $(this).find("i").toggleClass('fa-arrow-left');
                            $(this).find("i").toggleClass('fa-arrow-right');
                        });
                        $('#divRight a').removeClass("strong");
                        $("#<%= @action_study.id %>").addClass("strong");
                    },
                    error: function (xhr, status, response) {
                        console.log("AJAX Error: " + status)
                    }
                });

            });
        });
    </script>
<% end %>
<script>
    $(document).ready(function () {
        $("#href_start_curriculum").click(function () {
            $.ajax({
                type: "GET",
                url: '/student/update_menu_right',
                data: {
                    curriculum_id:"<%= @curriculum_study_progress.id%>",
                    object_type:"curriculum",
                    status: 1
                },
                dataType: "script",
                beforeSend: function (xhr) {
                    $.loader.open({imgUrl: "<%= asset_path('assets/template/ajaxloader/images/loading32x32.gif') %>"});
                },
                success: function () {
                    $.loader.close();
                    $('[data-toggle="offcanvas"]').unbind( "click" );
                    $('[data-toggle="offcanvas"]').click(function () {
                        $('.row-offcanvas').toggleClass('active');
                        $(this).find("i").toggleClass('fa-arrow-left');
                        $(this).find("i").toggleClass('fa-arrow-right');
                    });
                    $('#divRight a').removeClass("strong");
                    $("#<%= @curriculum_study_progress.id %>").addClass("strong");
                },
                error: function (xhr, status, response) {
                    console.log("AJAX Error: " + status)
                }
            });

        });
        $("#href_done_curriculum").click(function () {
            $.ajax({
                type: "GET",
                url: '/student/update_menu_right',
                data: {
                    curriculum_id:"<%= @curriculum_study_progress.id%>",
                    object_type:"curriculum",
                    status: 2
                },
                dataType: "script",
                beforeSend: function (xhr) {
                    $.loader.open({imgUrl: "<%= asset_path('assets/template/ajaxloader/images/loading32x32.gif') %>"});
                },
                success: function () {
                    $.loader.close();
                    $('[data-toggle="offcanvas"]').unbind( "click" );
                    $('[data-toggle="offcanvas"]').click(function () {
                        $('.row-offcanvas').toggleClass('active');
                        $(this).find("i").toggleClass('fa-arrow-left');
                        $(this).find("i").toggleClass('fa-arrow-right');
                    });
                    $('#divRight a').removeClass("strong");
                    $("#<%= @curriculum_study_progress.id %>").addClass("strong");
                },
                error: function (xhr, status, response) {
                    console.log("AJAX Error: " + status)
                }
            });
        });
    });
</script>