<h3><%= t('users.title_user_information') %></h3>
<%= form_tag({controller: "users", action: "changepassword" },id: "change_password", method: :post, class: "form-horizontal") do %>
<div class="widget">
  <div class="widget-head">
    <strong class="innerLR"><%= t('users.title_changepassword') %></strong>
  </div>
  <div class="widget-body">
        <div class="row innerLR">
          <div class="col-md-3 warning">
            <strong><%= t('tip.titleTip') %></strong>
            <p class="muted"><%= t('users.lb_tip1')%></p>
            <p class="muted"><%= t('users.lb_tip2')%></p>
          </div>
          <div class="col-md-9">
            <div class="form-group">
              <label class="col-md-2 control-label" for="current_password"><%= t('users.lb_password_current') %><span class="requiredfield">*</span></label>
              <div class="col-md-10">
                <%= password_field_tag 'current_password', nil, class: 'form-control', autofocus: 'autofocus'%>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label" for="password"><%= t('users.lb_password_new') %><span class="requiredfield">*</span></label>
              <div class="col-md-10">
                <%= password_field_tag 'password', nil, class: 'form-control'%>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label" for="confirm_password"><%= t('users.lb_password_confirm') %><span class="requiredfield">*</span></label>
              <div class="col-md-10">
                <%= password_field_tag 'confirm_password', nil, class: 'form-control'%>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label" for="confirm_password"></label>
              <div class="col-md-10">
                <button id="btnChangepassword" type="button" class="fa btn btn-primary"><%= t('button.btn_change') %></button>
                <button id="btnCancel" type="button" class="fa btn btn-default"><%= t('button.btn_cancel') %></button>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
<% end %>

<script>
    $(document).ready(function(){

        $("#change_password").validate({
            onfocusout: false,
            onkeyup: false,
            rules: {
                current_password: {required: true,minlength: 6},
                password: {required: true, minlength: 6},
                confirm_password: {
                    required: true,
                    equalTo: "#password",
                    minlength: 6
                }
            },
            messages: {
                current_password: {required: I18n.t("signin.js.validate.msg_password_required"),
                    minlength: I18n.t("signup.js.validate.msg_password_confirmation_minlength")},
                password: {required: I18n.t("signin.js.validate.msg_password_required"),
                    minlength: I18n.t("signup.js.validate.msg_password_confirmation_minlength")},
                confirm_password: {
                    required: I18n.t("signin.js.validate.msg_password_required"),
                    equalTo: I18n.t("users.lb_password_confirm_equal"),
                    minlength: I18n.t("signup.js.validate.msg_password_confirmation_minlength")
                }
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },
            submitHandler: function (form) {
//                $('#signup_form').find('input:text').each(function(){
//                    $(this).val($.trim($(this).val()));
//                });
//                form.submit();

            },
            invalidHandler: function(form, validator) {
                $('#div_msg_error').text('');

                var errors = validator.numberOfInvalids();
                if (errors) {
                    validator.errorList[0].element.focus();
                }
            }
        });


        $("#btnChangepassword").click(function () {
            if(!$("#change_password").valid()) return;
            $(".has-error").remove();
            $.ajax({
                type: "post",
                url: "<%= users_changepassword_path %>",
                data:{
                    current_password: $("#current_password").val(),
                    password: $("#password").val(),
                    confirm_password: $("#confirm_password").val()
                },
                beforeSend: function (xhr) {
                    $.loader.open({size:32});
                },
                success: function(data){
                    $.loader.close(true);
                    $("#current_password").val("");
                    $("#password").val("");
                    $("#confirm_password").val("");
                },
                error: function(xhr, status, response) {
                    $.loader.close(true);
                }
            });
        });
        $("#btnCancel").click(function(){
            window.location.href = '<%= home_index_path %>';
        });

    })
</script>