<div class="innerAll border-bottom" id="workexperience_new">
  <div class="row">
    <div class="col-sm-10">
      <ul class="media-list margin-none">
        <li class="media">
          <span class="pull-left innerAll half empty-photo">
          <a class="workExperience" url="<%= new_work_experience_path %>"  href="#" data-toggle="modal"  modal_title="<%=t('work_experiences.title_new_work_experience')%>">
            <i class="fa fa-plus fa-2x text-muted" style="margin-left: 3px; margin-right: 3px;"></i>
          </a>
            </span>
          <div class="media-body innerAll half">

            <span class="media-heading">
              <a class="workExperience" url="<%= new_work_experience_path %>"  href="#" data-toggle="modal"  modal_title="<%=t('work_experiences.title_new_work_experience')%>">
                <%= t('work_experiences.title_new_work_experience')%>
              </a>
            </span>

          </div>
        </li>
      </ul>
    </div>
  </div>
</div>