<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @photo.description %>

  <%= image_tag @photo.photo.url(:square) %>
    <br/>
  <%= image_tag @photo.photo.url(:thumb) %>\
    <br/>
  <%= image_tag @photo.photo.url(:medium) %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
