<div class="innerAll border-bottom" id="education_new">
  <div class="row">
    <div class="col-sm-10">
      <ul class="media-list margin-none">
        <li class="media">
          <span class="pull-left innerAll half empty-photo">
          <a class="education btn btn-xs" url="<%= new_education_path %>"  href="#" data-toggle="modal"  modal_title="<%=t('educations.title_new_education')%>">
            <i class="fa fa-plus fa-2x text-muted" style="margin-left: 3px; margin-right: 3px;"></i>
          </a>
            </span>
          <div class="media-body innerAll half">

            <span class="media-heading">
              <a class="education" url="<%= new_education_path %>"  href="#" data-toggle="modal"  modal_title="<%=t('educations.title_new_education')%>">
                <%= t('educations.title_new_education')%>
              </a>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>